$black: #131313;
$dark-black: #111017;
$regular-black: #000000;
$white: #ffffff;
$lime: #8FFF00;

$background-color: $black;
$main-text-color: $white;
$highlighted-text-color: $lime;
$button-color: $white;
$button-text-color: $dark-black;
$card-color: $white;
$card-text-color: $white;
$card-heading-color: $lime;
$level-control-color: $lime;
$level-heading: $white;
