@import '_mixin.scss';
@import '_variables.scss';

* {
    box-sizing: border-box;
}

body {
    position: relative;
    background: $background-color;
    background: $background-color url(../img/noise.png) center / auto;

    .lines {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        @include container;
        display: flex;
        justify-content: space-between;
        pointer-events: none;
        
        &>div {
            flex-basis: 15.2%;
            outline: 1px solid rgba($white, 0.1);
        }
    }
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

h1, h2, h3, h4 {
    margin: 0px;
}

p {
    margin: 0px;
}

.container {
    @include container;
}

.header {
    border-bottom: 1px solid rgba($white, 0.1);

    &__content {
        padding: 14px 20px;
        text-align: center;
    }
}

.main {
    &__content {

        // общие стили для всех секции

        section {
            padding: 80px 0px 0px;
            border-bottom: 1px solid rgba($white, 0.1);

            h2 {
                margin: 0px 0px 20px;
                @include heading;
            }

            p {
                @include main-text;
            }

            .button {
                @include button;
            }

            // стили для каждой секции

            &.welcome {
                
                .content {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    background: url(../img/bg1.png) center / contain no-repeat;
    
                    h2 {
                        max-width: 630px;
                        text-align: center;
                    }
    
                    p {
                        max-width: 900px;
                        margin: 0px 0px 20px;
                        text-align: center;
                    }
    
                    .screenshot {
                        position: relative;
                        margin: 40px 0px 55px;
                        padding: 44px 20px 20px;
                        background: rgba($white, 0.4);
                        border-radius: 20px;
                        backdrop-filter: blur(2px);
    
                        svg {
                            position: absolute;
                            left: 20px; 
                            top: 20px;
                        }
                    }
                }
            }

            &.marketplaces {
                padding-top: 15px;

                .content {
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    padding: 40px 0px;
    
                    .item {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 268px;
                        height: 80px;
                        opacity: 0.5;
                    }
                }
            }

            &.advantages {

                .content {
                    h2 {
                        text-align: center;
                    }
    
                    .cards {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        padding-bottom: 40px;
                    }
    
                    .card {
                        width: 32.2%;
                        margin-top: 20px;
                        @include card;
    
                        h4 {
                            margin: 0px 0px 18px;
                            @include card-heading;
                        }
                    }
                }
            }

            &.are-you-ready {

                .content {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding-bottom: 150px;
                    background: url(../img/bg2.png) top center / contain no-repeat;
                    
                    h2 {
                        text-align: center;
                    }
    
                    p {
                        margin-bottom: 20px;
                        text-align: center;
                    }
    
                    .button {
                        @include button;
                    }
                }
            }

            &.be-the-best {

                .content {
                    position: relative;
                    padding: 0px 0px 100px;
                    background: url(../img/bg3.png) top -50px right 0px / contain no-repeat;

                    &::after {
                        content: url(../img/arrow.png);
                        position: absolute;
                        top: -60px;
                        right: -110px;
                        width: 550px;
                        height: 600px;

                    }

                    h2, p {
                        max-width: 720px;
                    }
                }   
            }

            &.composition {

                .content {

                    h2 {
                        text-align: center;
                    }
    
                    .cards {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        padding-bottom: 60px;
                    }
    
                    .card {
                        width: 49.1%;
                        margin-top: 20px;
                        @include card;
    
                        &>div {
                            display: flex;
                            align-items: center;
                            margin-bottom: 18px;
    
                            img {
                                margin-right: 18px;
                            }
    
                            h4 {
                                @include card-heading;
                            }
                        }
                    }
                }
            }

            &.any-level {

                .content {
                    padding-bottom: 600px;
                
                    h2 {
                        text-align: center;
                    }
    
                    .level-control {
                        position: relative;
                        display: flex;
                        justify-content: space-between;
                        padding: 20px 50px 55px;
    
                        &::after {
                            content: "";
                            position: absolute;
                            left: 50px;
                            right: 50px;
                            top: 40%;
                            border-bottom: 1px solid $level-control-color;
                        }
    
                        .selector {
                            position: relative;
                            z-index: 10;
                            background: $black;
                            border-radius: 20px;
    
                            span {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                width: 80px;
                                height: 80px;
                                @include level-control;
                                background: linear-gradient(48deg, rgba($level-control-color, 0.20) -98.23%, rgba($level-control-color, 0.00) 97.63%);
                                border: 1px solid $level-control-color;
                                border-radius: 20px;
                                cursor: pointer;
                                transition: all ease-out 0.3s;
    
                                &:hover {
                                    color: $black;
                                    background: $white;
                                }
    
                                &.selected {
                                    color: $black;
                                    background: $white;
                                }
                            }
    
                            p {
                                position: absolute;  
                                bottom: -40px;
                            }
    
                            &:nth-child(1) p {
                                left: -15px;
                            }
                            &:nth-child(2) p {
                                left: -47px;
                            }
                            &:nth-child(3) p {
                                left: -11px;
                            }
                        }
                    }
    
                    .levels {
                        position: relative;
    
                        .hidden {
                            opacity: 0 !important;
                        }
    
                        .level {
                            padding-bottom: 150px;
                            position: absolute;
                            top: 80px;
                            left: 0;
                            right: 0;
                            opacity: 1;
                            transition: all .4s;

                            &-1 {
                                background: url(../img/bg4.png) top -400px right -100px /cover no-repeat;
                            }
                            &-2 {
                                background: url(../img/bg5.png) top -400px right -100px /cover no-repeat;
                            }
                            &-3 {
                                background: url(../img/bg6.png) top -400px right -100px /cover no-repeat;
                            }
    
                            &-content {
                                max-width: 66.1%;
        
                                h3 {
                                    margin: 0;
                                    @include level-heading;
                                }
    
                                .cards {
                                    display: flex;
                                    flex-wrap: wrap;
                                    justify-content: space-between;
                                }
            
                                .card {
                                    position: relative;
                                    width: 48.8%;
                                    margin-top: 18px;
                                    @include card;
                                    padding: 56px 20px 20px;
    
                                    &::after {
                                        content: url('../img/switch.svg');
                                        position: absolute;
                                        top: 20px;
                                        right: 20px;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &.learn-more {
                .content {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding-bottom: 80px;
                    background: url(../img/bg7.png) top center / contain no-repeat;
                    
                    h2 {
                        text-align: center;
                    }
    
                    p {
                        margin-bottom: 20px;
                        text-align: center;
                    }
    
                    .button {
                        @include button;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {

    body {
        .lines {
            padding: 0px 60px;
        }
    }
    
    .container {
        padding: 0px 60px;
    }
}

@media screen and (max-width: 768px) {
    
    .main {
        &__content {
            section {
                &.advantages {
                    .content {
                        .cards {
                            .card {
                             width: 49%;
                            } 
                         }
                    }
                }

                &.composition {
                    .content {
                        .card {
                            &>div {
                                flex-direction: column;
                                align-items: center;
    
                                h4 {
                                    text-align: center;
                                }
                            }
                        }
                    }
                }

                &.any-level {
                    .content {
                        .levels {
                            .level-content {
                                max-width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 426px) {

    body {
        .lines {
            padding: 0px 20px;
        }
    }

    .container {
        padding: 0px 20px;
    }

    .main {
        &__content {

            section {
                padding: 40px 0px 0px;

                &.welcome {

                    .content {

                        .screenshot {
                            padding: 32px 10px 10px;
                            margin-bottom: 30px;
    
                            svg {
                                top: 14px;
                                left: 10px;
                            }
                        }
                    }  
                }

                &.marketplaces {
                    .content {
                        flex-direction: column;
                        align-items: center;
                    }
                }

                &.advantages {
                    .content {
                        .cards {
                            flex-direction: column;
                            .card {
                                width: 100%;
                            }
                        }
                    }
                }

                &.are-you-ready {
                    .content {
                        padding-bottom: 80px;
                    }
                    
                }

                &.be-the-best {
                    .content {
                        padding: 50px 0px;
                    }
                }

                &.composition {

                    .content {
                        .cards {
                            flex-direction: column;
    
                            .card {
                                width: 100%;
    
                                &>div {
                                    flex-direction: row;
                                    h4 {
                                        text-align: left;
                                    }
                                }
                            }
                        }
                    }
                }

                &.any-level {
                    .content {
                        padding-bottom: 650px;

                        .level-control {
                            padding: 20px 0px 55px;
    
                            .selector {
                                &:nth-child(1) p {
                                    left: 4px;
                                }
    
                                &:nth-child(2) p {
                                    left: -14px;
                                }
    
                                &:nth-child(3) p {
                                    left: 6px;
                                }
                            }
                        }
    
                        .levels {
                            .level {
                                top: 40px;
    
                                &-content {
    
                                    .cards {
                                        flex-direction: column;
    
                                        .card {
                                            width: 100%;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
